.counter {
    margin: 10px auto;
    max-width: 800px;
    background-color: lightslategray;
    padding:0px 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-weight: bold;
}