.counter{
    margin:auto;
    max-width: 800px;
    background-color: lightslategray;
    padding:0px 10px;
    border-radius: 5px;
    font-size: 180%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.counterSentence {
    color: rgb(49, 47, 43);
    font-weight: bold;
    width: 33%;
}
#restoreHidePosts{
    background:none;
    border: none;
    text-decoration: underline;
    color: white;
    cursor: pointer;
    font-size: 70%;
}
