@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gloria+Hallelujah&family=Gochi+Hand&family=Permanent+Marker&display=swap');

.about {
    margin: auto;
    font-family: 'Bebas Neue', cursive;
    font-size: 120%;
    max-width: 60%;
}
.darkWebImg {
    max-height: 400px;
    border-radius: 20%;
    transition: 1s;
    cursor: pointer;
    margin: 2%;
}
.darkWebImg:hover {
    transition: 1s;
    border-radius: 5%;
}
.aboutH3 {
    font-size: 150%;
    text-decoration: underline;
    color: rgb(193, 171, 6)
}